{% extends 'website/base.html' %}
{% load static %}
{% block title %}{{page.meta_title|default:''}}{% endblock %}
{% block keyword %}{{page.meta_keywords|default:''}}{% endblock %}
{% block description %}{{page.meta_description|default:''}}{% endblock %}
{% block css %}{% endblock %}
{% block content %}

{% include 'website/header.html' %}

<section class="sab-banner-wraper" style="padding: 42px 0px 190px 0px;">
  <div class="custom-shape-divider-bottom-1687358784">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
        opacity=".25" class="shape-fill"></path>
      <path
        d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
        opacity=".5" class="shape-fill"></path>
      <path
        d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
        class="shape-fill"></path>
    </svg>
  </div>
</section>

<section class="pet_appointment_wrap">
  <div class="container">
    <h4 class="appointment-main-title">Make an Appointment</h4>
    <div class="pet_appointment_row">
      <div class="appiontment_list">
        <div class="pet_appointment_colum full-width" style="display: flex;">
        <div class="pet_appointment_colum">
          <h6>Available Services</h6>
          <div class="">
            <select class="small">
              <option value="1">Services</option>
            </select>
          </div>
        </div>
        <div class="pet_appointment_colum">
          <h6>Packages</h6>
          <div class="">
            <select class="small">
              <option value="1">Packages</option> 
            </select>
          </div>
        </div>
        </div>
        <h4>Time</h4>
        
        <div class="pet_appointment_colum full-width">
          <h6>I am available on</h6>
          <div class="">
            <div class="datepicker" style="display:inline-block;position:relative;"><input class="form-control"
                id="demo" placeholder="2023-06-20" type="text">
              <table class="calendar"
                style="position: absolute; left: 0px; display: none; box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 6px 1px; width: 230px;">
                <thead>
                  <tr>
                    <th id="prev">‹</th>
                    <th colspan="5" id="currM">May 2024</th>
                    <th id="next">›</th>
                  </tr>
                  <tr>
                    <th>S</th>
                    <th>M</th>
                    <th>T</th>
                    <th>W</th>
                    <th>T</th>
                    <th>F</th>
                    <th>S</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="pMDate"><span>28</span></td>
                    <td class="pMDate"><span>29</span></td>
                    <td class="pMDate"><span>30</span></td>
                    <td class="date"><span>1</span></td>
                    <td class="date"><span>2</span></td>
                    <td class="date"><span>3</span></td>
                    <td class="date"><span>4</span></td>
                  </tr>
                  <tr>
                    <td class="date"><span>5</span></td>
                    <td class="date"><span>6</span></td>
                    <td class="date"><span>7</span></td>
                    <td class="date"><span>8</span></td>
                    <td class="date"><span>9</span></td>
                    <td class="date"><span>10</span></td>
                    <td id="currDay" class="selected date"><span>11</span></td>
                  </tr>
                  <tr>
                    <td class="date"><span>12</span></td>
                    <td class="date"><span>13</span></td>
                    <td class="date"><span>14</span></td>
                    <td class="date"><span>15</span></td>
                    <td class="date"><span>16</span></td>
                    <td class="date"><span>17</span></td>
                    <td class="date"><span>18</span></td>
                  </tr>
                  <tr>
                    <td class="date"><span>19</span></td>
                    <td class="date"><span>20</span></td>
                    <td class="date"><span>21</span></td>
                    <td class="date"><span>22</span></td>
                    <td class="date"><span>23</span></td>
                    <td class="date"><span>24</span></td>
                    <td class="date"><span>25</span></td>
                  </tr>
                  <tr>
                    <td class="date"><span>26</span></td>
                    <td class="date"><span>27</span></td>
                    <td class="date"><span>28</span></td>
                    <td class="date"><span>29</span></td>
                    <td class="date"><span>30</span></td>
                    <td class="date"><span>31</span></td>
                    <td class="nMDate"><span>1</span></td>
                  </tr>
                  <tr>
                    <td class="nMDate"><span>2</span></td>
                    <td class="nMDate"><span>3</span></td>
                    <td class="nMDate"><span>4</span></td>
                    <td class="nMDate"><span>5</span></td>
                    <td class="nMDate"><span>6</span></td>
                    <td class="nMDate"><span>7</span></td>
                    <td class="nMDate"><span>8</span></td>
                  </tr>
                  <tr>
                    <td colspan="7" id="today">Today: Saturday, May 11, 2024</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="pet_appointment_colum full-width" style="display: flex;">
        <div class="pet_appointment_colum">
          <h6> Start </h6>
          <div class="">
            <select class="small">
              <option data-display="English">8:00 AM </option>
              <option value="1">8:00 AM</option>
              <option value="2">6:00 AM</option>
              <option value="4">7:00 AM</option>
              <option value="4">9:00 AM</option>
              <option value="4">11:00 AM</option>
              <option value="4">10:00 AM</option>
              <option value="4">8:00 AM</option>
              <option value="4">6:00 AM</option>
              <option value="4">10:00 AM</option>
              <option value="4">9:00 AM</option>
              <option value="4">4:00 AM</option>
              <option value="4">8:00 AM</option>
            </select>
          </div>
        </div>
        <div class="pet_appointment_colum">
          <h6> end </h6>
          <div class="">
            <select class="small">
              <option data-display="English">8:00 AM </option>
              <option value="1">8:00 AM</option>
              <option value="2">6:00 AM</option>
              <option value="4">7:00 AM</option>
              <option value="4">9:00 AM</option>
              <option value="4">11:00 AM</option>
              <option value="4">10:00 AM</option>
              <option value="4">8:00 AM</option>
              <option value="4">6:00 AM</option>
              <option value="4">10:00 AM</option>
              <option value="4">9:00 AM</option>
              <option value="4">4:00 AM</option>
              <option value="4">8:00 AM</option>
            </select>
          </div>
        </div>
        </div>
        <div class="pet_appointment_colum">
          <a class="main_button btn2 bdr-clr hover-affect" href="#">Book</a>
        </div>
      </div>
      <div class="workin_hours">
        <span>Timings</span>
        <h4>WORKING HOURS</h4>
        <p>Curabitur et fius nunc. Aliquam erat volutpat ac pulvinar sapien.volutpaipsum vunibus.</p>
        <ul class="pet_widget_link">
          <li><a href="#">Monday </a><span>09:00 am - 06:00 pm</span></li>
          <li><a href="#">Tuesday </a><span>09:00 am - 06:00 pm</span></li>
          <li><a href="#">Wednesday</a><span>09:00 am - 06:00 pm</span></li>
          <li><a href="#">Wednesday</a><span>09:00 am - 06:00 pm</span></li>
          <li><a href="#">Friday</a><span>09:00 am - 06:00 pm</span></li>
          <li><a href="#">Saturday</a><span>09:00 am - 06:00 pm</span></li>
          <li><a href="#">Sunday</a><span>09:00 am - 06:00 pm</span></li>
        </ul>
      </div>
    </div>
  </div>

</section>


{% include 'website/footer.html' %}

{% endblock %}
{% block js %}{% endblock %}