{% extends 'website/base.html' %}
{% load static %}
{% block title %}Make an Appointment{% endblock %}
{% block keyword %}{% endblock %}
{% block description %}{% endblock %}
{% block css %}{% endblock %}
{% block content %}

{% include 'website/header.html' %}

<section class="sab-banner-wraper" style="padding: 42px 0px 190px 0px;">
  <div class="custom-shape-divider-bottom-1687358784">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
        opacity=".25" class="shape-fill"></path>
      <path
        d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
        opacity=".5" class="shape-fill"></path>
      <path
        d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
        class="shape-fill"></path>
    </svg>
  </div>
</section>

<section class="pet_appointment_wrap">
  <div class="container">
    <h4 class="appointment-main-title">Make an Appointment</h4>
    {% if messages %}
      {% for message in messages %}
        <div class="bg-info panel-heading">
          {{message}}
        </div>
        <hr>    
      {% endfor %}
    {% endif %}

    <div class="pet_appointment_row">
      <form method="POST" class="appiontment_list" style="width: 60%;"> {% csrf_token %}
        <div class="pet_appointment_colum full-width" style="display: flex;">
          <div class="pet_appointment_colum">
            <h6>Available Services *</h6>
            <div class="">
              <select class="small" required name="service">
                {% for data in service %}
                <optgroup label="{{data.title}}">
                  {% for package in data.packages.all %}
                  <option value="{{data.title}} - {{package.name}}" {% if request.GET.id|add:'0' == package.id|add:'0' %}selected{% endif %}>{{package.name}}</option>
                  {% endfor %}
                </optgroup>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="pet_appointment_colum">
            <h6>Date *</h6>
            <div class="">
              <input class="form-control" id="date" name="date" required type="date">
            </div>
          </div>
          <div class="pet_appointment_colum">
            <h6>Time *</h6>
            <div class="">
              <input class="form-control" id="time" name="time" required type="time">
            </div>
          </div>          
        </div>
        <h4>Pet Details</h4>
        
        <div class="pet_appointment_colum full-width" style="display: flex;">
          <div class="pet_appointment_colum">
            <h6>Pet Type *</h6>
            <div class="">
              <select class="small" required name="pet_type">
                <option value="Dog">Dog</option>
                <option value="Cat">Cat</option>
              </select>
            </div>
          </div>
          <div class="pet_appointment_colum">
            <h6>Breed *</h6>
            <div class="">
              <input class="form-control" id="breed" name="breed" required type="text">
            </div>
          </div>
          <div class="pet_appointment_colum">
            <h6>Pet age *</h6>
            <div class="">
              <input class="form-control" id="pet_age" name="pet_age" required type="text">
            </div>
          </div>                   
        </div>
        
        <div class="pet_appointment_colum full-width" style="display: flex;">
          <div class="pet_appointment_colum">
            <h6>Aggressive *</h6>
            <div class="">
              <select class="small" required name="aggressive">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
          <div class="pet_appointment_colum">
            <h6>Vaccinations *</h6>
            <div class="">
              <select class="small" required name="vaccinations">
                <option value="Completed">Completed</option>
                <option value="Pending">pending</option>
              </select>
            </div>
          </div>   
        </div>

        
        <h4>Personal Details</h4>
        
        <div class="pet_appointment_colum full-width" style="display: flex;">
          <div class="pet_appointment_colum">
            <h6>Name *</h6>
            <div class="">
              <input class="form-control" id="name" name="name" required type="text">
            </div>
          </div>
          <div class="pet_appointment_colum">
            <h6>Mobile Number *</h6>
            <div class="">
              <input class="form-control" id="mobile" name="mobile" required type="number">
            </div>
          </div>                   
        </div>
        
        <div class="pet_appointment_colum full-width" style="display: flex;">
          <div class="pet_appointment_colum">
            <h6>Address *</h6>
            <div class="">
              <textarea class="form-control" id="address" name="address" required ></textarea>
            </div>
          </div>
          <div class="pet_appointment_colum">
            <h6>Location Link</h6>
            <div class="">
              <textarea class="form-control" id="location_link" name="location_link" ></textarea>
            </div>
          </div>                   
        </div>

        <div class="pet_appointment_colum">
          <button type="submit" class="main_button btn2 bdr-clr hover-affect">Book</button>
        </div>
      </form>
      <div class="workin_hours" style="width: 40%;">
        <span>Timings</span>
        <h4>WORKING HOURS</h4>
        {{config.opening_hours|safe}}
      </div>
    </div>
  </div>

</section>


{% include 'website/footer.html' %}

{% endblock %}
{% block js %}{% endblock %}