{% extends 'portal/base.html' %}
{% block title %}400{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<section class="content-main mt-80 mb-80">
    <div class="row mt-60">
        <div class="col-sm-12">
            <div class="w-50 mx-auto text-center">
                <h3 class="mt-40 mb-15">Oops! Page not found</h3>
                <p>It's looking like you may have taken a wrong turn. Don't worry... it happens to the best of us. Here's a little tip that might help you get back on track.</p>
                <a href="/" class="btn btn-primary mt-4"><i class="material-icons md-keyboard_return"></i> Back to main</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}{% endblock %}