{% extends 'portal/base.html' %}
{% block title %}500{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<section class="content-main mt-80 mb-80">
    <div class="row mt-60">
        <div class="col-sm-12">
            <div class="w-50 mx-auto text-center">
                <h3 class="mt-40 mb-15">Oops! Application Error</h3>
                <h3 class="mt-40 mb-15">{{error.url}}</h3>
                <p>{{error.message}}</p>
                <a href="/" class="btn btn-primary mt-4"><i class="material-icons md-keyboard_return"></i> Back to main</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}{% endblock %}