{% extends 'portal/base.html' %}
{% load static %}
{% block title %}{{page_title|default:'Add Page'}}{% endblock %}
{% block css %}{% endblock %}
{% block content %}

{% include 'portal/shared/left-menu.html' %}
<main class="main-wrap">
    {% include 'portal/shared/top-menu.html' %}
    <form class="content-main pt-0" enctype='multipart/form-data' method="post" id="formProduct"> {% csrf_token %}
        <input type="hidden" name="content" id="htmlContent" required>
        <div class="container row pt-25" id="opt-header">
            <div class="col-lg-8">
                <div class="content-header">
                    <h2 class="content-title">Add New Page</h2>
                    <div>
                        <button class="btn btn-light rounded font-sm mr-5 text-body hover-up" onclick="history.back()"> <i class="icon material-icons md-arrow_back mr-5"></i> Black</button>
                        <button class="btn btn-md rounded font-sm hover-up"> <i class="icon material-icons md-save mr-5"></i> Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>1. General info</h6>
                            </div>
                            <div class="col-md-9">
                              <div class="mb-4">
                                  <label class="form-label">Navigation <span class="text-danger">*</span></label>
                                  <select class="form-select" placeholder="Select Status" name="navigation" required >
                                    <option value="0">Home Page</option>
                                    {% for data in navigation %}
                                      <option value="{{data.id}}">{{data.name}}</option>
                                    {% endfor%}
                                  </select>
                              </div>
                                <div class="mb-4">
                                    <label class="form-label">Name <span class="text-danger">*</span></label>
                                    <input type="text" name="name" required placeholder="Name" class="form-control">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Status <span class="text-danger">*</span></label>
                                    <select class="form-select" placeholder="Select Status" name="is_status" required >
                                        <option value="True">Publish</option>
                                        <option value="False">Draft</option>
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Is Home Page Content <span class="text-danger">*</span></label>
                                    <select class="form-select" placeholder="Select Status" name="is_home" required >
                                        <option value="False">False</option>
                                        <option value="True">True</option>
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Is Home Page Service <span class="text-danger">*</span></label>
                                    <select class="form-select" placeholder="Select Status" name="is_service" required >
                                        <option value="False">False</option>
                                        <option value="True">True</option>
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Is Home Page Client <span class="text-danger">*</span></label>
                                    <select class="form-select" placeholder="Select Status" name="is_client" required >
                                        <option value="False">False</option>
                                        <option value="True">True</option>
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Is Home Page Testimoinals <span class="text-danger">*</span></label>
                                    <select class="form-select" placeholder="Select Status" name="is_testimoinals" required >
                                        <option value="False">False</option>
                                        <option value="True">True</option>
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Priority <span class="text-danger">*</span></label>
                                    <input type="number" min="0" step="1" name="priority" required placeholder="Priority" class="form-control">
                                </div>
                            </div> <!-- col.// -->
                        </div> <!-- row.// -->
                    </div>
                </div>
            </div>
        </div>
        <!-- card .// -->
    </form>
</main>
{% endblock %}
{% block js %}{% endblock %}