{% extends 'portal/base.html' %}
{% load static %}
{% block title %}{{page_title|default:'Features'}}{% endblock %}
{% block css %}{% endblock %}
{% block content %}

{% include 'portal/shared/left-menu.html' %}
<main class="main-wrap">
    {% include 'portal/shared/top-menu.html' %}
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Features</h2>                
            </div>
            <div>
                <a href="#" class="btn btn-primary add-modal"><i class="text-muted material-icons md-post_add"></i>Add</a>
            </div>
        </div>
        <div class="card mb-4 ">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th class="text-end">Last Updated</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in model %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{data.name}}</td>
                            <td class="text-end">{{data.modified_date}}</td>
                            <td>
                                <div class="col-action text-end">
                                    <a href="#" class="btn btn-sm font-sm rounded btn-brand edit-modal" data-id="{{data.id}}" data-label="{{data.name}}"> <i class="material-icons md-edit"></i> Edit </a>
                                    <a href="#" class="btn btn-sm font-sm btn-light rounded delete-data" data-id="{{data.id}}" data-label="{{data.name}}"> <i class="material-icons md-delete_forever"></i> Delete </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- card .// -->
    </section>
</main>


        <!-- Add Modal -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form class="modal-content" method="post"> {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Add Features</h5>
                        <button type="button" class="btn close" data-dismiss="modal" data-modal="addModal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-4">
                                        <label class="form-label">Name <span class="text-danger">*</span></label>
                                        <input type="text" name="name" required placeholder="Name" class="form-control">
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-modal="addModal">Close</button>
                        <button type="submit" name="formType" value="add" class="btn btn-danger">Save</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Update Modal -->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form class="modal-content" method="post"> {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Update Features</h5>
                        <button type="button" class="btn close" data-dismiss="modal" data-modal="editModal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body">
                            <div class="row">
                                <input type='hidden' id="editId" name="id">
                                <div class="col-md-12">
                                    <div class="mb-4">
                                        <label class="form-label">Name <span class="text-danger">*</span></label>
                                        <input type="text" name="name" id="editName" required placeholder="Name" class="form-control">
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-modal="editModal">Close</button>
                        <button type="submit" name="formType" value="update" class="btn btn-danger">Update</button>
                    </div>
                </form>
            </div>
        </div>

{% endblock %}
{% block js %}
<script>
    $('.add-modal').on('click',function(){
        $('#addModal').modal('show');
    })

    $(document).on('click', '.edit-modal', function(){
        $('#editId').val($(this).attr("data-id"));
        $('#editName').val($(this).attr("data-label"));
        $('#editModal').modal('show')
    })

</script>
{% endblock %}