{% load static %}
<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="index.html" class="brand-wrap">
            <img src="{% static 'logo/logo-black.svg' %}" style="width: 100px;" alt="Logo" />
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"><i
                    class="text-muted material-icons md-menu_open"></i></button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item {% if nav == 'dashboard' %}active{% endif %}">
                <a class="menu-link" href="{% url 'portal_dashboard' %}">
                    <i class="icon material-icons md-pie_chart"></i>
                    <span class="text">Statistics</span>
                </a>
            </li>
            <li class="menu-item {% if nav == 'booking' %}active{% endif %}">
                <a class="menu-link" href="{% url 'portal_bookings' %}">
                    <i class="icon material-icons md-list_alt"></i>
                    <span class="text">Bookings</span>
                </a>
            </li>
            <li class="menu-item {% if nav == 'media' %}active{% endif %}">
                <a class="menu-link" href="{% url 'portal_media_folder' %}">
                    <i class="icon material-icons md-create_new_folder"></i>
                    <span class="text">Media Folder</span>
                </a>
            </li>
            <li class="menu-item has-submenu {% if nav == 'services'%}active{% endif %}">
                <a class="menu-link" href="javascript:void(0)">
                    <i class="icon material-icons md-store"></i>
                    <span class="text">Services</span>
                </a>
                <div class="submenu">
                    <a class="{% if sub_nav == 'features' %}active{% endif %}" href="{% url 'portal_features' %}">Features</a>
                    <a class="{% if sub_nav == 'packages' %}active{% endif %}" href="{% url 'portal_packages' %}">Packages</a>
                    <a class="{% if sub_nav == 'services' %}active{% endif %}" href="{% url 'portal_services' %}">Service</a>
                </div>
            </li>    
            <li class="menu-item has-submenu {% if nav == 'store'%}active{% endif %}">
                <a class="menu-link" href="javascript:void(0)">
                    <i class="icon material-icons md-store"></i>
                    <span class="text">Website</span>
                </a>
                <div class="submenu">
                    <a class="{% if sub_nav == 'navigation' %}active{% endif %}" href="{% url 'portal_navigation' %}">Navigation</a>
                    <a class="{% if sub_nav == 'page' %}active{% endif %}" href="{% url 'portal_page' %}">Page Sections</a>
                    <a class="{% if sub_nav == 'sDefault' %}active{% endif %}" href="{% url 'portal_s_default' %}">Default Sections</a>
                    <a class="{% if sub_nav == 'sHtml' %}active{% endif %}" href="{% url 'portal_s_html' %}">HTML Sections</a>
                    <a class="{% if sub_nav == 'blog' %}active{% endif %}" href="{% url 'portal_blog' %}">Blog</a>
                    <a class="{% if sub_nav == 'testimoinals' %}active{% endif %}" href="{% url 'portal_testimoinals' %}">Testimoinals</a>
                    <a class="{% if sub_nav == 'config' %}active{% endif %}" href="{% url 'portal_config' %}">Config</a>
                </div>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="{% url 'portal_signout' %}">
                    <i class="icon material-icons md-exit_to_app"></i>
                    <span class="text"> Logout </span>
                </a>
            </li>
        </ul>
    </nav>
</aside>